* {
    /*transition: all .3s linear;*/
    box-sizing: border-box;
    font-family: Helvetica;
}

html {
    min-height: 100%;
}

body {
    min-height: 90vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    margin: auto;
    width: 75%;
    font-size: 2.5rem;
}


.meklet {
    display: flex;
    height: 90vh;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10vh;
}

.far.fa-caret-square-left, .far.fa-caret-square-right {
    color: #888;
}

.output-container {
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 100%;
    background: #7c7;
    margin-top: 1rem;
    padding: 1rem;
}

.card {
    width: 31%;
}

.fas.fa-star {
    color: #ee0;
}
.far.fa-star {
    color: #aa0;
}
.fa-star {
    cursor: pointer;
}

.logo {
    max-width: 12rem;
    max-height: 7.2rem;
    align-self: center;
    margin: 1rem 1rem 1rem 2rem;
    cursor: pointer;
    border-radius: .2rem;
    background-color: #00000010;
}

.output:empty{
    display: none;
}
.output-container:empty {
    display: none;
}

@media (width < 1200px) {
    main {
        width: 80%;
    }

    .card {
        width: 45%;
    }
}

@media (width < 750px) {
    .card {
    width: 90%;
    }

    main {
        width: 95%;
    }

    .output-container {
        width: 95%;
    }
    .output-inside {
        flex-direction: column;
    }
}